---
apiVersion: v1
kind: Namespace
metadata:
  name: bb-readme
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: bb-readme-terminus
  namespace: bb-readme
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bb-readme-terminus
  template:
    metadata:
      labels:
        app: bb-readme-terminus
    spec:
      containers:
      - name: http-to-grpc
        image: buoyantio/bb:v0.0.5
        args: ["terminus", "--grpc-server-port", "9090", "--response-text", "BANANA"]
        ports:
        - containerPort: 9090
---
apiVersion: v1
kind: Service
metadata:
  name: bb-readme-terminus-svc
  namespace: bb-readme
spec:
  selector:
    app: bb-readme-terminus
  ports:
  - name: grpc
    port: 9090
    targetPort: 9090
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: bb-readme-gateway
  namespace: bb-readme
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bb-readme-gateway
  template:
    metadata:
      labels:
        app: bb-readme-gateway
    spec:
      containers:
      - name: http-to-grpc
        image: buoyantio/bb:v0.0.5
        args: ["point-to-point-channel", "--grpc-downstream-server", "bb-readme-terminus-svc:9090", "--h1-server-port", "8080"]
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: bb-readme-gateway-svc
  namespace: bb-readme
spec:
  selector:
    app: bb-readme-gateway
  type: LoadBalancer
  ports:
  - name: http
    port: 8080
    targetPort: 8080
